control+win+t=Tweet
alt+win+left=prev_tl
alt+win+right=next_tl
alt+win+up=prev_item
alt+win+down=next_item
control+win+r=Reply
control+win+shift+r=Retweet
alt+win+l=Like
alt+win+q=Quote
alt+win+control+d=Message
alt+win+c=Conversation
alt+win+v=View
alt+win+[=Followers
alt+win+]=Friends
alt+win+control+up=Volup
alt+win+control+down=Voldown
alt+win+return=Url
alt+win+;=SpeakUser
alt+win+shift+;=SpeakReply
alt+win+pageup=Prev
alt+win+u=UserTimeline
alt+win+shift+u=UserProfile
alt+win+'=CloseTimeline
alt+control+win+u=refresh
alt+win+home=top_item
alt+win+end=bottom_item
alt+win+shift+return=Play
alt+win+control+return=PlayExternal
alt+win+delete=Delete
alt+win+o=Options
control+alt+win+o=AccountOptions
alt+win+shift+left=previous_from_user
alt+win+shift+right=next_from_user
alt+win+shift+up=previous_in_thread
alt+win+shift+down=next_in_thread
control+win+shift+c=Copy
alt+win+a=AddToList
alt+win+shift+a=RemoveFromList
alt+win+control+l=Lists
alt+win+/=Search
alt+win+shift+/=UserSearch
control+win+a=Accounts
alt+win+space=speak_item
alt+win+control+a=speak_account
control+alt+shift+win+return=TweetUrl
alt+win+shift+e=Read
alt+win+shift+m=Mute